# Asterisk REST Interface (ARI) Configuration
ARI_URL=http://127.0.0.1:8088
ARI_USERNAME=
ARI_PASSWORD=
ARI_APP_NAME=

# External Services
BILLING_API_URL=http://127.0.0.1:8080
X-API-KEY=secret-key
REDIS_URL=redis://127.0.0.1:6379
